<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  
  </head>


  <body>
    <nav>
<ul>
<li><a href="http://sdavis.io"><img src="https://1.gravatar.com/avatar/652fe33f40478abf07c069c58a61eb8f88f99c0fb37602911cca9aa3060a2ce9"></a></li>
<li><a href="/">Home</a></li>
<li><a href="/about">About</a></li>
<li><a href="/blog">Blog</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   <li><a href="mailto:sean@sdavis.io"><img src="/resources/email80.png"></a></li>
   <li><a href="https://linkedin.com/in/sdavisio"><img src="/resources/linkedin80.png"></a></li>
   <li><a href="https://www.strava.com/athletes/3853127"><img src="/resources/strava80.png"></a></li>
   
   </ul>
  </footer>
  </body>

</html>
