<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  
  </head>


  <body>
    <nav>
<ul>
<li><a href="http://sdavis.io"><img src="https://secure.gravatar.com/avatar/1954e3d2276bf65cc5a58160fd32c87f"></a></li>
<li><a href="/">Home</a></li>
<li><a href="/about">About</a></li>
<li><a href="/blog">Blog</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   <li><a href="mailto:sean@sdavis.io"><img src="/resources/email80.png"></a></li>
   <li><a href="https://github.com/theseandavis">github.com/theseandavis</a></li>
   </ul>
  </footer>
  </body>

</html>
